:root{
    --base-width: 70%;
    --min-width: 1200px;
    --max-width: 1500px;
    --main-font: pretendard, sans-serif;
    --sub-font: ahn;
    --font-size-h1: 32px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-text-large: 20px;
    --font-size-text-medium: 18px;
    --font-size-text-normal: 16px;
    --font-size-text-small: 14px;
    --gnb-heigt: 120px;
    --gnb-padding: 10px;
    --header-heigt: calc(var(--gnb-heigt) + var(--gnb-padding)*2);
    --praimary-color: #F8ECEB; 
    --secondary-color: #54A25C;
    --praimary-color-tp: 247, 236, 235;
    --secondary-color-tp: 84, 162, 92;
    --state-color-info: #2F80ED;
    --state-color-success: #27AE60;
    --state-color-warning: #E2B93B;
    --state-color-error: #EB5757;
    --black-color-1: #1D1D1D;
    --black-color-2: #282828;
    --gray-color-1: #333333;
    --gray-color-2: #4F4F4F;
    --gray-color-3: #828282;
    --gray-color-4: #BDBDBD;
    --gray-color-5: #E0E0E0;
}

main>h1{
    width: 100%;
    text-align: center;
    font-size: var(--font-size-h1);
}
#notice-ncpage{
    width: var(--base-width);
    min-width: var(--min-width);
    max-width: var(--max-width);
    /* border: 1px solid green; */
    margin: 3rem auto;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#notice-ncpage>div{
    width: 100%; height: 100%;
    margin: 3rem 0;
}



#title-header-ncpage{
    width: 100%;
    /* border: 1px solid red; */
    border-top: 2px solid black;
    border-bottom: 1px solid var(--gray-color-3);
    padding: 1.3rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.title-ncpage{
    font-size: var(--font-size-h3);
}
.date-ncpage{
    font-size: var(--font-size-text-normal);
}
.content-ncpage{
    width: 100%; min-height: 30vh;
    /* border: 1px solid blue; */
    padding: 3rem 3rem;
    box-sizing: border-box;
    font-size: var(--font-size-text-large);
}
#notice-ncpage>div>.notice-ncpage{
    width: 100%;
    /* border: 1px solid brown; */
    padding: 1rem 3rem;
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid var(--gray-color-3);
}
.notice-ncpage.prev{
    border-bottom: 2px solid var(--gray-color-3);
}
.notice-ncpage-header{
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    /* border: 1px solid purple; */
}
.notice-ncpage-header a{
    all: unset;
    cursor: pointer;
    font-size: var(--font-size-text-normal);
}
#notice-ncpage>button{
    /* position: absolute; */
    /* margin-top: 2rem; */
    width: 100px; height: 40px;
    font-size: var(--font-size-text-normal);
    background-color:  white;
    border: 1px solid var(--gray-color-3);
    border-radius: 10px;
    cursor: pointer;
}